body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-image: url(../../Assets/imgs/Bg-Img.webp);
    margin: 0;
    padding: 0;
    background-size:cover ;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgb(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

#profile-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

#img-perfil {
    border-radius: 50%; 
    width: 130px; 
    height: 130px;
    object-fit: cover;
    margin-top: 50px;
}

#about{
    padding-left: 50px;
    padding-right: 30px;
    font-size: 18px;
    text-align: left;
}

#saiba-mais{
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

#p1 {
    margin-bottom: 3%;
    font-size: 35px; 
}

#p2 {
    margin-bottom: 3%;
    font-size: 18px;
}

#contact-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#line {
    width: 40px;
    height: 2px;
    background-color: black;
}

#contact-container img {
    width: 22px;
    height: 22px;
    filter: invert(0.5);
}

#btn-contact {
    background-color: white;
    border-radius: 6px;
    padding: 12px;
    text-decoration: none;
    font-weight: normal;
    transition: letter-spacing 0.3s ease, font-weight 0.3s ease, transform 0.3s ease;
}

#btn-contact:hover {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px; 
    transform: scale(1.05);
}